.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 600px;
  margin: auto;
  padding: 32px;
  gap: 16px
}
.main > div {
  width: 100%;
  padding: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}